{% for out_filename, (_, project) in projects.items() %}
{% if make_lists and loop.index0 % (12 // w_col_n) == 0 %}
<div class="collection-list colophome listforshowall w-dyn-items w-row">
{% endif %}
<div data-ix="flowinslow" class="collection-item lazyload w-dyn-item w-col w-col-{{ w_col_n }}" onclick="document.location.href = '{{ out_filename }}';">
    <div data-ix="goupbox" class="templatethumb movewithmouse opvoorkant" 
        style="background-image: {{ project.thumbnail }}; background-size: cover; background-position: {{ project.thumbnail_position }};">
        <a class="templatethumblink w-inline-block" href="{{ out_filename }}">
            <div class="templatefrontwrap">
                <div class="templatefront">
                    <img src="images/magnifying-glass-icon.png" height="20">
                </div>
            </div>
            <img class="thumbimgbg">
        </a>
    </div>
    <h3 class="heading-9"><a href="{{ out_filename }}">{{ project.title }}</a></h3>
</div>
{% if make_lists and ((loop.index0 == loop.length - 1) or (loop.index0 % (12 // w_col_n) == (12 // w_col_n - 1))) %}
</div>
{% endif %}
{% endfor %}
